<hr>
        <br /><br />
        
        <nav>
            <a href="/"> Overview</a>
            <a href="/popular"> Popular Tools</a>
            <a href="/upgrades"> Upgrades in Tech</a>
            <a href="/uses"> Uses of VR</a>
        </nav>
        
        <br /><br />