<%- include('partials/header.ejs') %>
    
        <header>
            <h1>Virtual Reality Software Development</h1>
         </header>
        <%- include('partials/nav.ejs') %>
        
        <main>
            
            <figure>
                <img src="img/vr.png">
            </figure>
            
            <div>
                <h1>Overview</h1>
                <br />
                <p>Virtual Reality (VR) is the use of a computer program to create a simulated environment</p>
                <br />
                <p>The most iconic component of VR is the Head Mounted Display (HMD).</p>
                <br />
                <P>This type of technology appeals to many people such as gamers</P>
                <br />
                <p>Major companies invested and developing VR include HTC Vive, Oculus Rift, and Playstation VR (PSVR)</p>
                <br />
                <p>This site goes over the popular tools used to create VR software,</p>
                <P>the breakthoughs in the technology and what advantages have been made throgh them,</P>
                <p>and the challenges that still face the industry today.</p>
                <br />
                <small>
                    <a href="https://www.marxentlabs.com/what-is-virtual-reality/" target="blank"> source</a>
                    <p>Send an email to <%= fakerData %> to get an 40% discount on a VR headset</p>
                </small>
            </div>
        </main>
        <%- include('partials/footer.ejs') %>