<!DOCTYPE html>
<html>
    <head>
        <title> VR Software Development </title>
        <meta charset="utf-8">
<%- include('partials/header.ejs') %>
    
        <header>
            <h1>Virtual Reality Software Development</h1>
        </header>
        <%- include('partials/nav.ejs') %>
        
        <main>
            
            <figure>
                <img src="img/unity.png">
                <br />
                <img src="img/unreal.png">
                <br />
                <img src="img/3ds.png">
            </figure>
            
            <div>
                <h1>Popular Tools for VR</h1>
                <br />
                <p>There are many different ways to develope for VR softwares.</p>
                <p>However, the most popular will be listed here.</p>
                <br />
                <P>One of these tools is Unity 3D. At its heart, it is a game engine, but other software can be developed using it.</P>
                <p>It uses the languages of C# and Java, so programmers with experience with those languages should feel comfortable.</p>
                <br />
                <p>Another major tool used is Unreal Enginge 4. It is also a gaming engine like Unity, but the graphics are more advanced.</p>
                <p>and realistic. It is the main competitor to Unity, and it uses C++ for it's scripting language.</p>
                <br />
                <p>The third most popular is Autodesk's 3DS Max and Maya tool. They are used for modeling, animation, lighing, and VFX.</p>
                <P>While they do not have VR support by default, they do have plugins to aquire the support for it. </P>
                <p>It is mainly used in the architectural design industry.</p>
                <br />
                <p>There are many other softwares for VR, but Unity and Unreal Engine are by far the most popular.</p>
                <b />
                <small>
                    <a href="https://www.lullabot.com/articles/11-tools-for-vr-developers" target="blank"> source</a>
                </small>
            </div>
        </main>
        <%- include('partials/footer.ejs') %>