<%- include('partials/header.ejs') %>
    
        <header>
            <h1>Virtual Reality Software Development</h1>
        </header>
        <%- include('partials/nav.ejs') %>
   
        
        <main>
            
            <figure>
                <img src="img/vrmil.png">
                <small>
                    <figcaption>Millitary in training with VR</figcaption>
                </small>
                <br />
                <img src="img/vrsport.png">
                <small>
                    <figcaption>Watching sports with VR</figcaption>
                </small>
                <br />
                <img src="img/vrhos.png">
                <small>
                    <figcaption>VR is use for a patient</figcaption>
                </small>
                <br />
                <img src="img/vruse.png">
                <small>
                    <figcaption>Educational/Vocation Learning with VR</figcaption>
                </small>
            </figure>
            
            <div>
                <h1>Uses of VR</h1>
                <br />
                <p>Everyone knows that video games are the most popular use for VR, but there are other uses that are not as talked about.</p>
                <p>Believe it or not the millitary is using VR technology for training their soldiers.</p>
                <P>The US and the UK have both adopted it's use for training, which allows for a huge selection of simulations to put recruits through.</P>
                <br />
                <p>Another use is the use for sports. VR is being used by coaches and players to train more efficiently.</p>
                <p>It is also being used by fans to watch the games as if they were in the stands or on the field of play.</p>
                <P>There are plans to one day sell virtual tickets to watch these games live from your living room.</P>
                <br />
                <p>VR is also being used in mental health and the medical field. Due to the interactive nature of VR, it is a popular tool </p>
                <p>used for treating anxiety, phobias, and depression. It allows a person to reinact a traumatic event to help them come to </p>
                <p>terms with the event and heal. It is also being used for practicing surgeries and mediacal procedures. It provides the ability</p>
                <p>to make mistakes without there being risk to a real person. </p>
                <br />
                <p>It is also being used in education as well. Students are able to interact with each other in a virtual 3D environment and</p>
                <p>can be taken on virtual field trips. This is especially useful right now during the COVID-19 pandemic. It makes learning exciting</p>
                <p>when it would normally be boring and dull.</p>
                <small>
                    <a href="https://www.fdmgroup.com/5-exciting-uses-for-virtual-reality/" target="blank"> source</a>
                </small>
            </div>
        </main>
        <%- include('partials/footer.ejs') %>
   